<header>
    <h1 class="landing-header">DickerWill Paradox Leaderboard</h1>
</header>

<main>
    <div>
        <div>
            <div class="leaderboard-entry">
                <p>1</p>
                <p class = leaderboard-entry-name>Queen Dickerballs</p>
                <p class="leaderboard-entry-date">9/9/24</p>
            </div>
            <div class="leaderboard-entry">
                <p>2</p>
                <p class = leaderboard-entry-name>Rebecca</p>
                <p class="leaderboard-entry-date">9/10/24</p>
            </div>
            <div class="leaderboard-entry">
                <p>2</p>
                <p class = leaderboard-entry-name>Ethan the white kid (but he skipped questions and had lots of hints)</p>
                <p class="leaderboard-entry-date">9/21/24</p>
            </div>
        </div>
    </div>
    <div>
        <button class="restart-game-button" (click)="restartGame()">Restart</button>
    </div>
</main>
